* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.header-main-container {
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15vw;
    background-color: white;
    width: 100%;
    height: 5rem;
    max-height: 5rem;
    box-shadow: 0 0 2rem -1.3rem black;
}

#logo img {
    width: 200px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 1rem;
    transition: ease;
    transition-duration: 0.5s;
}

#contact img {
    width: 40px;
    height: 40px;
}

#contact:hover {
    transform: scale(1.1);
}

nav {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 30rem;
    height: 100%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0.5rem;
    transition: ease;
    transition-duration: 0.5s;
}

nav a:hover {
    transform: scale(1.1);
    border-radius: 0.5rem;
    color: white;
    background-color: blue; 
}

#selected-cars-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    top: 5.5rem;
    width: 9rem;
    height: 5rem;
    background-color: rgba(68, 87, 255, 0.822);
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: ease;
    transition-duration: 1s;
    transform: scale(0);
}

#counter {
    z-index: 1;
    font-size: 1.1rem;
    font-weight: lighter;
    color: gray;
    width: 10rem;
    position: absolute;
    top: 41rem;
    left: 37.5vw;
}

aside {
    background-color: white;
    box-shadow: 0 0 2rem -1.3rem gray;
    border-radius: 1rem;
    width: 26rem;
    height: 42rem;
    margin: 3rem 0 0 3rem;
}

aside form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-container .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, select, button {
    padding: 0.3rem 0;
    background-color: rgb(241, 241, 241);
    border: none;
    height: 2rem;
    border-radius: 0.5rem;
    width: 20rem;
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(73, 73, 73);
}


label {
    font-weight: 400;
    font-size: 1.3rem;
    word-break:break-all;
}

.large-label {
    width: 20rem;
}

.small-label, .small-input, .small-select, .small-button {
    width: 8rem;
}

.medium-button {
    width: 10rem;
    height: 3rem;
}

.small-select {
    height: 2.5rem;
}

.small-radio {
    width: 1.5rem;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.form-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#new-cars {
    width: 1.5rem;
}

.new-cars-group {
    flex-direction: row;
    margin: 1rem auto 0 auto;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.medium-button, .small-button:hover {
    font-weight: 400;
}

#filter-button {
    background-color: blue;
    color: white;
    transition: ease;
    transition-duration: 0.5s;
}

#filter-button:hover {
    background-color: red;
    transform: scale(1.2);
}

.car-offer {
    width: 100%;
    margin-top: 5rem;
    padding: 2rem 0;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-image: url('https://www.rondoniaveiculos.com.br/img/bg-header.jpg');
}

.car-offer-banner {
    background-color: red;
    width: 17rem;
    margin: 0 auto;
    border-radius: 1rem 1rem 0 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-offer-banner p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.car-offer-main-container {
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0rem 2rem -1.5rem black;
    border-radius: 1rem;
    width: 65rem;
    margin: 0rem auto 0 auto;
}

.car-offer-img-container {
    width: 500px;
    height: 333px;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem -1rem black;
    display: flex;
}

.car-offer-img-container img {
    margin: auto;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 100%;
}

.car-offer-details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    height: 350px;
}

.car-offer-details button {
    color: rgb(241, 241, 241);
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    background-color: blue;
    width: 10rem;
    transition: ease;
    transition-duration: 1s;
}

.car-offer-details button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 1px solid blue;
    color: black;
}

strong {
    color: green;
}

s {
    color: orangered;
}

.car-offer-details h2, .car-offer-details h4 {
    font-size: 2.5rem;
}

.car-offer-details h5 {
    font-size: 1.5rem;
}

main {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-listing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem auto 0 auto;
    width: 60%;
    height: 100%;
}

.box-car {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    box-shadow: 0 0 2rem -1.3rem black;
    border-radius: 0.5rem;
    width: 15rem;
    height: 20rem;
    margin: 0 auto;
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
}

.img-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.box-car-shadow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background: linear-gradient(130.71deg, #000 12.51%, rgba(0, 0, 0, 0) 81.19%);
    color: white; 
}

.info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.car-details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    height: 7rem;
    text-align: left;
}

.car-details p {
    font-weight: 300;
}

.box-car-price {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.3rem;
    color: black;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
}

hr {
    width: 100%;
    margin: 1rem auto;
}

.box-car-title {
    margin-top: 1rem;
    margin-left: 1rem;
}

.car-model {
    font-weight: bold;
}

.car-brand {
    font-weight: 400;
}

#mean-button, #mode-button {
    font-size: 1rem;
    font-weight: 300;
    transition: ease;
    transition-duration: 0.5s;
}

#mean-button:hover, #mode-button:hover {
    transform: scale(1.1);
    background-color: blue;
    color: white;
}

@media (min-width: 2070px) {
    .grid-listing {
        grid-template-columns: repeat(6, 1fr);
        width: 90rem;
    }
    .car-offer {
        background-repeat: repeat;
    }
    .grid-listing {
        margin: 3rem 3rem 0 3rem;
    }
}
@media (min-width: 1765px) and (max-width: 2069px) {
    #counter {
        left: 27vw;
    }
    .grid-listing {
        grid-template-columns: repeat(5, 1fr);
        width: 80rem;
    }
    .car-offer {
        background-repeat: repeat;
    }
    main {
        justify-content: center;
    }
}

@media (max-width: 1548px) {
    .grid-listing {
        grid-template-columns: repeat(3, 1fr);
        width: 48rem;
    }
}

@media (max-width: 1220px) {
    #counter {
        left: 47.5vw;
    }

    .grid-listing {
        grid-template-columns: repeat(2, 1fr);
        width: 32rem;
    }
}

@media (max-width: 1043px) {
    .car-offer-main-container {
        width: 40rem;
        height: 20rem;
        padding: 0.5rem;
    }
    .car-offer-details {
        transform: scale(0.8);
    }
    .car-offer-img-container {
        height: auto;
        padding: 0.5rem;
    }
    .header-main-container {
        gap: 0.5rem;
    }

}

@media (max-width: 960px) {
    #counter {
        left: 43.5vw;
    }

    aside {
        margin-left: 0.5rem;
        width: 22rem;
    }
    .grid-listing {
        width: 30.5rem;
    }
}

@media (max-width: 862px) {
    #counter {
        left: 61vw;
    }
    .grid-listing {
        grid-template-columns: 1fr;
    }
    aside {
        width: 30rem;
    }
}

@media (max-width: 709px) {
    nav {
        gap: 0.5rem;
    }
    nav a {
        font-size: 0.8rem;
    }
    #logo img {
        width: 130px;
    }
    #contact {
        transform: scale(0.8);
    }
}

@media (max-width: 666px) {
    #counter {
        top: 86rem;
        left: 20vw;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
    .box-car {
        width: 25rem;
        height: 30rem;
    }

    .car-details {
        height: 8rem;
        font-size: 1.4rem;
    }

    .box-car-price {
        height: 7rem;
        font-size: 2rem;
    }
    aside {
        margin: 3rem 0 0 0;
    }
}

@media (max-width: 656px) {
    .car-offer {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .car-offer-main-container {
        padding: 2rem 1rem;
        height: 35rem;
        width: 80vw;
        flex-direction: column-reverse;
    }
    .car-offer-img-container {
        width: 80vw;
    }
    .car-offer-details {
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    #counter {
        top: 96rem;
    }
}

@media (max-width: 633px) {
    #contact {
        display: none;
    }
}

@media (max-width: 484px) {
    .grid-listing {
        width: 100%;
    }

    aside {
        width: 22rem;
    }

    .box-car {
        width: 15rem;
        height: 20rem;
    }
    .car-details {
        font-size: 1rem;
    }

    .box-car-price {
        height: 2rem;
        font-size: 1.2rem;
    }
    #counter {
        left: 25vw;
    }
}

@media (max-width: 400px) {
    nav a {
        max-width: 4rem;
    }
    #counter {
        top: 97rem;
    }
    aside {
        margin: 4rem 0 0 0;
        width: 21rem;
    }
    label {
        font-size: 1rem;
    }
    #fuel-type, #brand {
        margin-left: 0.1rem;
        align-self: flex-start;
    }
}

@media (max-width: 370px) {
    #logo img {
        width: 80px;
    }
    aside {
        height: 35rem;
        width: 17rem;
    }
    .small-label, .small-input, .small-select, .small-button {
        width: 7rem;
    }
    #search-button, .large-label {
        width: 14rem;
        font-size: 0.9rem;
        align-self: center;
    }
    #mean-button, #mode-button {
        font-size: 0.7rem;
    }
    #filter-button {
        width: 8rem;
        font-size: 1rem;
    }
    .car-offer-details {
        width: 80vw;
    }
    .car-offer-main-container {
        height: 26rem;
    }
    .car-offer {
        padding: 3rem 0 3rem 0;
    }
    .car-offer-banner {
        width: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .car-offer-banner p {
        font-size: 1rem;
    }
    nav a {
        font-size: 0.7rem;
    }
    #counter {
        top: 82rem;
        left: 20vw;
    }
}